{% extends 'base.html' %}

{% block content %}

<div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">学习管理</h4>
                <ol class="breadcrumb">
                    <li>
                        <!-- <a href="{% url 'SaltMasterList' %}">课程管理</a> -->
                        课程学习
                    </li>
                    <li class="active">
                        课程列表
                    </li>
                </ol>
            </div>
        </div>
        

        <div class="row">
            <div class="col-sm-10">

                <div class="card-box">
                    <div class="row actionBar">
                        <label for="category">体系</label>
                        <select class="category" id="category">
                            <option disabled selected value></option>
                        </select>
                        <label for="module">模块</label>
                        <select class="module" id="module">
                            <option disabled selected value></option>
                        </select>
                        <button class="btn btn-primary search" onclick="search()">
                        查询
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <h4 class="m-t-0 header-title"><b>实验列表</b></h4> -->
                            <div class="p-20">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th class="experimentId">序号</th>
                                            <th class="experimentName">实验名称</th>
                                            <th class="operation">操作</th>
                                        </tr>
                                    </thead>

                                    <tbody class="tableList" id="tableList">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="/static/assets/js/json.js"></script>

<script>
$(document).ready(function() {

    var data = "{{module}}";
    data = data.replace(/&quot;/g,'"');
    data = jQuery.parseJSON(data);
    console.log('data',data);
    for (var i = 0; i < data.length; i++) {
        if (data[i].sysid) {
            $('#category').append('<option value="'+data[i].sysid+'"">'+data[i].text+'</option>');
        }
    }
    if ($('#category option:selected').val()){
        for (var i=0;i<data.length;i++) {
            $('#module').append('<option disabled selected value></option>');
            if (data[i].sysid == $('#category option:selected').val()) {
                for (var j=0;j<data[i].nodes.length;j++) {
                    $('#module').append('<option value="'+data[i].nodes[j].sysid+'"">'+data[i].nodes[j].text+'</option>');
                }
            }
        }
    }
    $('#category').change(function() {
        console.log('change');
        var category = $('#category option:selected').val();
        console.log('category',category);
        var moduleText = document.getElementById('module');
        moduleText.options.length = 0;
        for (var i=0;i<data.length;i++) {
            $('#module').append('<option disabled selected value></option>');
            if (data[i].sysid == category) {
                for (var j=0;j<data[i].nodes.length;j++) {
                    $('#module').append('<option value="'+data[i].nodes[j].sysid+'"">'+data[i].nodes[j].text+'</option>');
                }
            }
        }
    });
    // var d="{{option}}";
    // d = d.replace(/&quot;/g,'"');
    // d=jQuery.parseJSON(d);
    // console.log('option',d);
    // var str = '';
    // for (var i=0;i<d.length;i++) {
    //     str += '<tr><th class="experimentId">'+d[i].experid+'</th><td class="experimentName">'+d[i].name+'</td><td class="operation"><button class="btn btn-primary btn-xs" onclick="startStudy('+d[i].sysid+')">开始学习</button></td></tr>';
    //     // $('.tableList').append('<th>'+d[i].sysid+'</th>');
    //     // $('.tableList').append('<td>'+d[i].name+'</td>');
    //     // $('.tableList').append('<td>'+'1'+'</td></tr>');
    // }
    // $('.tableList').append(str);
});
function search() {
    console.log('search');
    var category_id = $('.category option:selected').val();
    var module_id = $('.module option:selected').val();
    var parent_id = '';
    var str = '';
    if (category_id && module_id) {
        parent_id = module_id;
        $.ajax({
            type: 'GET',
            url: '{% url 'classlist' %}',
            data: {'id':parent_id},
            dataType: 'text',
            success: function(msg) {
                document.getElementById('tableList').innerHTML='';
                msg=jQuery.parseJSON(msg);
                console.log(msg);
                if (msg.experinfo) {
                    for (var i=0;i<msg.experinfo.length;i++) {
                        str += '<tr><th class="experimentId">'+msg.experinfo[i].experid+'</th><td class="experimentName">'+msg.experinfo[i].name+'</td><td class="operation"><button class="btn btn-primary btn-xs" onclick="startStudy('+msg.experinfo[i].experid+')">开始学习</button></td></tr>';
                        // $('.tableList').append('<th>'+d[i].sysid+'</th>');
                        // $('.tableList').append('<td>'+d[i].name+'</td>');
                        // $('.tableList').append('<td>'+'1'+'</td></tr>');
                    }
                    $('.tableList').append(str);
                }
            }
        });
    } else {
        alert('请完整选择体系、模块！');
        return;
    }
}
function startStudy(val) {
    var module_id = $('.module option:selected').val();
            window.location.href="/teach/experdetail/?id="+val+"&module="+module_id;

}
</script>
<style type="text/css">
    .addExperiment {
        margin-bottom: 10px;
    }
    #category {
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #module {
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .actionBar {
        margin-bottom: 5px; 
    }
    .experimentId {
        width: 60px;
        text-align: center;
    }
    .experimentName {
        width: 70%;
        text-align: center;
    }
</style>



{% endblock%}